@using BackEndServer.Models.ViewModels
@model UserSettings
@{
    ViewBag.Title = "Project Jetson - New User Creation";
}

<h1 class="page-title center-align">New User Successfully Created</h1>
<div class="row">
    <div class="col s12 m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">New User Details</span>
                @* TODO: Put the table in a partial *@
                <table>
                    <tbody>
                    <tr>
                        <td class="property-name">User Name</td>
                        <td>@Model.Username</td>
                    </tr>
                    <tr>
                        <td class="property-name">First Name</td>
                        <td>@Model.FirstName</td>
                    </tr>
                    <tr>
                        <td class="property-name">Last Name</td>
                        <td>@Model.LastName</td>
                    </tr>
                    <tr>
                        <td class="property-name">Email Address</td>
                        <td>@Model.EmailAddress</td>
                    </tr>
                    <tr>
                        <td class="property-name">Administrator?</td>
                        <td>@(Model.IsAdministrator ? "Yes" : "No")</td>
                    </tr>
                    @if (Model.CreateAPIKey)
                    {
                        <tr>
                            <td class="property-name">API Key</td>
                            <td>@Model.APIKey</td>
                        </tr>
                    }
                    </tbody>
                </table>
                
                @if (Model.CreateAPIKey)
                {
                    <div class="unavailable-message-light left-align">This user's API Key will also be sent to him by email.<br/> It will never be shown again so please note it down!</div>
                }
            </div>
        </div>
    </div>
</div>