@model BackEndServer.Models.ViewModels.LocationSelectorInfo

<select id="@Model.SelectorId" name="@Model.SelectorName">
    <option value="" disabled selected>Please select the location where the camera is installed</option>
    @{
        foreach (var locationInformation in Model.Locations.LocationList)
        {
            <option selected="@(locationInformation.LocationId == Model.SelectedLocationId.GetValueOrDefault(0))"
                    value="@locationInformation.LocationId">@locationInformation.LocationName</option>
        }
    }
</select>
<label for="location_id">Camera Location</label>