@using BackEndServer.Models.ViewModels
@model NotificationDetails

@Html.Partial("../Alert/AlertDisablingModal", new AlertDisablingInformation {AlertId = Model.AlertId})

<h1 class="page-title center-align">Here are the details concerning the selected notification</h1>
<div class="row">
    <div class="col s12 m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Notification Details</span>
                @* TODO: Put the table in a partial *@
                <table>
                    <tbody>
                    <tr>
                        <td class="property-name">Triggered Alert Name</td>
                        <td>@Model.Alert.AlertName</td>
                    </tr>
                    <tr>
                        <td class="property-name">Associated Camera</td>
                        <td>@Model.Alert.Camera.CameraName</td>
                    </tr>
                    <tr>
                        <td class="property-name">Associated Location</td>
                        <td>@Model.Alert.Camera.Location.LocationName</td>
                    </tr>
                    <tr>
                        <td class="property-name">Date Triggered</td>
                        <td>@Model.TriggerDateTime</td>
                    </tr>
                    </tbody>
                </table>
                @if (Model.FailedEmail)
                {
                    <p class="error-message no-email-message">We tried to contact you by email but couldn't reach you, so we created a notification instead</p>
                }
                <a href="#alert-disabling-modal" id="disable-alert-button" class="waves-effect waves-light btn modal-trigger"><i class="material-icons right">notifications_off</i>Disable triggered alert</a>
            </div>
        </div>
    </div>
</div>