@model BackEndServer.Models.ViewModels.CameraInformationList
@{
    ViewBag.Title = "Project Jetson - Camera Selection";
}

<h1 class="page-title center-align">Please select the camera whose information you wish to see</h1>
<!--<div class="collection">
    @foreach (var camera in Model.CameraList){
        <a href="CameraSelected?cameraId=@camera.CameraId" class="collection-item">@camera.CameraRoomName</a>
    }
</div>-->

<div id="roomList" class="row">
    @foreach (var camera in Model.CameraList)
    {
        <div class="col s6 m4">
            <div class="card camera-card">
                <div id="@camera.CameraId" class="card-image clickable">
                    <a href="CameraInformation?cameraId=@camera.CameraId">
                        @{
                            if (String.IsNullOrWhiteSpace(camera.TempImagePath))
                            {
                                <img class="camera-card-image" src="~/images/camera_images/no_location_picture.png" alt="@camera.CameraRoomName">
                            }
                            else
                            {
                                <img class="camera-card-image" src="@(camera.TempImagePath)" alt="@camera.CameraRoomName">
                            }
                        }
                        <span class="camera-card-title card-title">@camera.CameraRoomName</span>
                    </a>
                </div>
            </div>
        </div>
    }
</div>