@model BackEndServer.Models.ViewModels.CameraStatistics

<h1 class="page-title center-align">Here is the most recent information concerning the data captured by:<br><b>@Model.CameraInformation.CameraName</b></h1>
<div class="row flex">
    <div class="col s12 m6">
        <div class="col s10 offset-s1">
            <div class="card camera-card">
            <div class="card-image">
                <img class="camera-card-image" src="~/images/camera_images/camera_image_@(Model.CameraInformation.CameraId).png">
                <span class="camera-card-title card-title">@Model.CameraInformation.CameraRoomName</span>
            </div>
        </div>
        </div>
    </div>
    <div class="col s12 m6 center-align main-statistics valign-wrapper">
        <div class="valign-wrapper-subcontainer">
            @{
                if (@Model.LastUpdatedTime != null)
                {
                    <div class="last-updated-time">
                        Page last updated on: @DateTime.Now.ToString("yyyy/MM/dd hh:mm:ss tt")
                    </div>
                    <div class="last-updated-time">
                        Recorded on: @Model.LastUpdatedTime.Value.ToString("yyyy/MM/dd hh:mm:ss tt")
                    </div>
                    <div class="people-count">
                        Number of people spotted: @Model.MostRecentPeopleCount
                    </div>
                }
                else
                {
                    <div class="people-count">
                        Nothing captured by the camera so far
                    </div>
                }
            }
            <div>
                <a asp-controller="Camera" asp-action="CameraInformation" asp-route-cameraId="@Model.CameraInformation.CameraId" class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">refresh</i></a>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>
<div class="row flex">
    <div class="col m6 s12 center-align">
        <div class="average-section-title">
            Average number of people spotted at similar times:
        </div>
        @{
            if (!@Model.DayTimeOfTheWeekAverageCountAvailable && !@Model.PeriodOfTheDayAverageCountAvailable)
            {
                <div class="unavailable-message average-stat">
                    Not enough data - Past data comparisons unavailable
                </div>        
            }
            else
            {
                if (@Model.DayTimeOfTheWeekAverageCountAvailable)
                {
                    <div class="average-stat">
                        @(Model.DayTimeOfTheWeekAverageCountDisplayString) : @(Model.DayTimeOfTheWeekAverageCount)
                    </div>           
                }
                else
                {
                    <div class="average-stat">
                        @(Model.DayTimeOfTheWeekAverageCountDisplayString) : @(Model.DayTimeOfTheWeekAverageCount)
                    </div>
                }
            }
        }
        <a href="CameraSelected?cameraId=@Model.CameraInformation.CameraId" id="camera-stats-link" class="waves-effect waves-light btn"><i class="material-icons right">show_chart</i>View statistics and trends over past data</a>
    </div>
    <div class="col m6 s12 center-align">
    </div>
</div>