@using BackEndServer.Models.ViewModels
@using Castle.Core.Internal
@model CameraRegistrationDetails
@{
    ViewBag.Title = "Project Jetson - Camera Registration";
}

<h1 class="page-title center-align">Please enter your camera's details</h1>

@Html.Partial("~/Views/Location/LocationCreationModal.cshtml")

<div class="row">
    <form id="camera_registration_form" class="col s12" method="post" asp-controller="Camera" asp-action="RegisterCamera" enctype="multipart/form-data">
        <input type="hidden" name="CameraId" value="@Model.CameraDetails.CameraId" />
        <input type="hidden" name="ImageDeleted" value="false" />
        <div class="row">
            <div class="input-field col s6">
                <input id="camera_name" name="CameraName" value="@Model.CameraDetails.CameraName" type="text" class="validate" required>
                <label for="camera_name">Camera Name *</label>
            </div>
            <div class="input-field col s6">
                @if (Model.CameraDetails.CameraKey.IsNullOrEmpty())
                {
                    <input id="camera_key" name="CameraKey" type="text" class="validate" required>
                }
                else
                {
                    <input id="camera_key" name="CameraKey" type="text" class="validate" readonly required value="@Model.CameraDetails.CameraKey">
                }
                <label for="camera_key" data-error="The given key is not a valid unclaimed Camera Key">Camera Key *</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s8">
                <div id="new_room_container">
                    <input id="new_room_name" name="NewRoomName" value="@Model.CameraDetails.MonitoredArea" type="text" class="validate">
                    <label for="new_room_name">Monitored Room *</label>
                </div>
                <div id="existing_room_container" class="hide">
                    @{ Html.RenderPartial("~/Views/Location/RoomSelectorWrapper.cshtml", new RoomSelectorInfo
                       {
                           SelectorId = "existing_room_id", SelectorName = "ExistingRoomId",
                           SelectedRoomId = Model.CameraDetails.ExistingRoomId, LocationId = Model.CameraDetails.LocationId,
                           Required = true
                       });
                    }
                </div>
            </div>
            <div class="input-field col s4 center-align">
                <input id="existing_room_checkbox" type="checkbox" @(Model.CameraDetails.ExistingRoomId > 0 ? "checked" : "") />
                <label class="checkbox-label" for="existing_room_checkbox">
                    <span>Use an existing room from this location?</span>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s9" id="location-selector-container">
                @{ Html.RenderPartial("~/Views/Location/LocationSelectorWrapper.cshtml", new LocationSelectorInfo
                   {
                       SelectorId = "location_id", SelectorName = "LocationId",
                       SelectedLocationId = Model.CameraDetails.LocationId,
                       Required = true
                   });
                }
            </div>
            <div class="input-field col s3 right-align">
                <a class="waves-effect waves-light btn modal-trigger" href="#location-creation-modal">New Location?</a>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input id="camera_brand" name="Brand" type="text" class="validate" value="@Model.CameraDetails.Brand">
                <label for="camera_brand">Camera Brand</label>
            </div>
            <div class="input-field col s6">
                <input id="camera_model" name="Model" type="text" class="validate" value="@Model.CameraDetails.Model">
                <label for="camera_model">Camera Model</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s8" id="camera_resolution_div">
                <select id="camera_resolution" name="Resolution">
                    <option value="" disabled selected>Select your camera's resolution</option>
                    @{
                        foreach (string resolution in Model.resolutions)
                        {
                            <option selected="@(resolution == Model.CameraDetails.Resolution)"
                                    value="@resolution">@resolution</option>
                            }
                    }
                </select>
                <label for="camera_resolution">Camera Resolution</label>
            </div>
            <div class="input-field col s4 center-align">
                <input id="resolution_checkbox" type="checkbox" />
                <label class="checkbox-label" for="resolution_checkbox">
                    <span>Can't find your resolution?</span>
                </label>
            </div>
        </div>
        <div class="row hide" id="custom_resolution_row">
            <div class="input-field col s8">
                <input id="camera_custom_resolution" name="CustomResolution" type="text" class="validate">
                <label for="camera_custom_resolution">Enter your camera's resolution</label>
            </div>
        </div>

        <!-- Optional: User can upload an image representing the area monitored by the camera. -->
        <!-- Modified from: https://bootsnipp.com/user/snippets/vl0Pd -->

        <input type="hidden" name="ImageDeleted" value="false" />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span id="browse_button">Browse...</span>
                            <input id="image_input" type="file" name="UploadedImage" accept="image/*" />
                        </div>
                        <div class="file-path-wrapper">
                            <input id="file_name" class="file-path validate" value="@Model.CameraDetails.SavedImagePath"
                                   type="text" placeholder="Upload an Image">
                        </div>
                    </div>
                    <img id='image_preview' class="center-block" />
                </div>
            </div>
        </div>

        <!-- Added a Clear Button to allow users to remove an uploaded image. -->
        <div class="row center-align">
            <div class="s12">
                <button class="btn" type="button" id="clear_image">
                    Clear Image
                </button>
            </div>
        </div>

        <!-- Submit Button -->
        <div class="row">
            <div class="s12 center-align">
                <button class="btn waves-effect waves-light right-align" type="submit" name="action">
                    Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>

    </form>
</div>

<script>
    $('#resolution_checkbox').click(function() {
        if ($("#resolution_checkbox").is(':checked')) {
            $("#custom_resolution_row").removeClass("hide");
            $("#camera_resolution_div .select-dropdown").prop('disabled', true);
        } else {
            $("#custom_resolution_row").addClass("hide");
            $("#camera_custom_resolution").val("");
            $("#camera_resolution_div .select-dropdown").prop('disabled', false);
        }
    });

    $('#existing_room_checkbox').change(function() {
        if ($("#existing_room_checkbox").is(':checked')) {
            $("#existing_room_container").removeClass("hide");
            $("#new_room_container").addClass("hide");
            $("#existing_room_id").prop("required", true);
            $("#new_room_name").prop("required", false);
            $("#new_room_name").val("");
            $("#existing_room_container .select-dropdown").prop('disabled', false);
        } else {
            $("#existing_room_container").addClass("hide");
            $("#new_room_container").removeClass("hide");
            $("#existing_room_id").prop("required", false);
            $("#new_room_name").prop("required", true);
            $("#existing_room_id").val("");
            $("#existing_room_container .select-dropdown").prop('disabled', true);
        }
    }).change();

    $("#location_id").change(function() {
        var locationId = $(this).val();
        var url = "../location/LoadRoomSelector?locationId=" +
            locationId +
            "&selectorId=existing_room_id&selectorName=ExistingRoomId&required=true&selectedRoomId=" +
            "@Model.CameraDetails.ExistingRoomId";
        $('#existing_room_container').load(url, roomSelectorLoaded);
    });

    @if (Model.CameraDetails.CameraKey.IsNullOrEmpty())
    {
        <text>
            $("#camera_key").focusout(function() {
                validateCameraKey();
            }).focusout();
        </text>
    }

    function validateCameraKey() {
        if ($("#camera_key").val()) {
            var url = "ValidateCameraKey";

            $.ajax({
                type: "POST",
                url: url,
                data: {
                    "cameraKey": $("#camera_key").val()
                },
                success: function(data) {
                    $("#camera_key").addClass("validated");
                    if (data === true) {
                        $("#camera_key").addClass("valid");
                        $("#camera_key").removeClass("invalid");
                    } else {
                        $("#camera_key").addClass("invalid");
                        $("#camera_key").removeClass("valid");
                    }
                }
            });
        }
    }

    // TODO: Add client side verification for image file input.

    function roomSelectorLoaded() {
        $('#existing_room_id').material_select();
        $('#existing_room_checkbox').change();
    }

    function locationSelectorLoaded() {
        $("#location_id option:last").attr("selected", "selected");
        $('#location_id').material_select();
    }

    function handleLocationCreationFormSubmission(response) {
        if (response === true) {
            Materialize.toast("Location successfully created!", 4000);
            $('#location-creation-modal').modal('close');
            $('#location-selector-container').load("@Html.Raw(Url.Action("LoadLocationSelector", "Location",
                                                        new {selectorId = "location_id", selectorName = "LocationId", required = true, selectedLocationId = Model.CameraDetails.LocationId}))", locationSelectorLoaded);
            
        } else {
            Materialize.toast("Couldn't create location.", 4000);
        }
    }

    function verifyCameraKeyValid() {
        if ($("#camera_key").hasClass("validated") === false 
            || $("#camera_key").hasClass("invalid")) {
            return false;
        }
        return true;
    }
    
    $("#camera_registration_form").submit(function(e) {
        @if (Model.CameraDetails.CameraKey.IsNullOrEmpty())
        {
            <text>
                return verifyCameraKeyValid();        
            </text>
        }
        else
        {
            <text>return true;</text>
        }
    });
    
    $("#location-creation-form").submit(function (e) {

        var form = $(this);
        var url = form.attr('action');

        if ($("#file_name").val() === false) {
            $("input[name='ImageDeleted']").val("true");
        }

        $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(), // serializes the form's elements.
            success: function (data) {
                handleLocationCreationFormSubmission(data);
            }
        });

        e.preventDefault(); // avoid to execute the actual submit of the form.
    });

</script>
