@using Castle.Core.Internal
@model BackEndServer.Models.ViewModels.CameraInformationList
@{
    ViewBag.Title = "Project Jetson - Manage Cameras";
}
@{ Html.RenderPartial("~/Views/Camera/ConfirmCameraUnclaimModal.cshtml"); }
<h1 class="page-title center-align" id="headerManageCamera">Edit or Add New Cameras</h1>
@if (Model.CameraList.IsNullOrEmpty())
{
    <div class="row">
        <div id="userCameras" class="unavailable-message center-align">
            It seems you don't have any camera so far.
            <br>Clicking the green floating button will allow you to set up a camera.
        </div>
    </div>
}
<div class="row">
    <div class="right-align" style="margin-right: 11px;">
        <a asp-controller="Camera" asp-action="BeginCameraRegistration" id="create_alert_btn" class="btn-floating btn-large green modal-trigger">
            <i class="large material-icons">add</i>
        </a>
    </div>
</div>
@if (!Model.CameraList.IsNullOrEmpty())
{
    <div id="userCameras" class="collection">
        @foreach (var camera in Model.CameraList)
        {
            <div class="collection-item">
                <span class="title" id="@camera.CameraId">@camera.CameraName</span>
                <span class="secondary-content">
                    <a onclick="showUnclaimConfirmationModal('@camera.CameraId')"><i class="material-icons">delete</i></a>
                    <a asp-controller="Camera" asp-action="ModifyCameraRegistration" asp-route-cameraId="@camera.CameraId"><i class="material-icons">edit</i></a>
                    <a asp-controller="Camera" asp-action="ViewAllUsersExceptCurrent" asp-route-cameraId="@camera.CameraId"><i class="material-icons">remove_red_eye</i></a>
                </span>
            </div>
        }
    </div>
}

<script>
    function showUnclaimConfirmationModal(cameraId) {
        $("input[name='ToBeUnclaimedCameraId']").val(cameraId);
        $('#camera_unclaim_confirmation_modal').modal("open");
    }
    
    @if (Context.Request.Headers["x-requested-with"]=="XMLHttpRequest")
    {
        <text>
            window.loadMaterializeEffects();
        </text>
    }
</script>