@using Castle.Core.Internal
@model BackEndServer.Models.ViewModels.CameraKeyList

@{
    ViewBag.Title = "Project Jetson - Manage Camera Keys";
}

<script>
    // Customizes the Delete Camera Key Modal for the camera key specified.
    function updateDeleteModal(camId,camKey,isReg)
    {
        // Update Modal header and body based on the camera key specified.
        var messageBody = document.getElementById("deleteWarning_Message");
        var messageHead = document.getElementById("deleteModalLabel");

        var message = "You have selected camera key: " + camKey.toString() + ". ";

        if (isReg == "True")
        {
            messageHead.innerHTML = "Delete Registered Camera Key";
            message += "This is a <b>Registered Camera Key</b>, meaning it represents a camera that is currently being used by the capture system. <b>Deleting this Camera Key will also delete its associated Camera and any alert monitoring that camera.</b>";
        }
        else
        {
            messageHead.innerHTML = "Delete Non-Registered Camera Key";
            message += "This camera key is Not Registered. Deleting it will not affect the system.";
        }
        
        message += " Are you sure you want to delete this Camera Key?";

        messageBody.innerHTML = message;

        // Update the delete button with the correct camera key to delete.
        var deleteButton = document.getElementById("deleteWarning_DeleteButton");
        deleteButton.setAttribute("href", "/Camera/DeleteCameraKey?cameraKey=" + camKey.toString());
    }
</script>

<!--Title of page -->
<h1 class="page-title center-align" id="headerManageCameraKeys">Manage Camera Keys</h1>

@if (Model.ListOfCameraKeys.IsNullOrEmpty())
{
    <div id="alertList" class="unavailable-message center-align">
        It seems you don't have any camera key so far. <br>Clicking the green floating button will allow you to generate a camera key.
    </div>
}

<!-- Add New Camera Key Button-->
<div class="row">
    <div class="right-align" style="margin-right: 11px;">
        <a id="create_camera_key_btn"
           class="btn-floating btn-large green modal-trigger" data-toggle="modal" data-target="#createWarning">
            <i class="large material-icons">add</i>
        </a>
    </div>
</div>

<!-- Create New Camera Key Warning Modal -->
<div class="modal fade" id="createWarning" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Create Camera Key</h5>
            </div>
            <div class="modal-body">
                A new randomly generated, unique camera key will be created and saved in the system. Are you sure you want to create a new camera key?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a asp-controller="Camera" asp-action="CreateCameraKey" class="btn btn-primary">Create New Key</a>
            </div>
        </div>
    </div>
</div>

<!-- Delete Camera Key Warning Modal -->
<div class="modal fade" id="deleteWarning" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel"></h5>
            </div>
            <div class="modal-body" id="deleteWarning_Message">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a id="deleteWarning_DeleteButton" href=""
                   class="btn btn-primary" style="background:#ff0000;">Delete</a>
            </div>
        </div>
    </div>
</div>

@if (!Model.ListOfCameraKeys.IsNullOrEmpty())
{
    <!-- Camera Key List with Delete Buttons -->
    <div id="adminCameraKeys" class="collection">
        @foreach (var cameraKey in Model.ListOfCameraKeys)
        {
            <div class="collection-item">
                <span class="title">@cameraKey.Key</span>
                <span class="secondary-content">
                    @if (cameraKey.IsRegistered == true)
                    {
                        <span class="is-registered" id="@cameraKey.CameraId">Registered</span>
                    }
                    else
                    {
                        <span class="is-registered" id="'@cameraKey.CameraId'">Not Registered</span>
                    }
                    <a data-toggle="modal" data-target="#deleteWarning"
                       onclick="updateDeleteModal('@cameraKey.CameraId','@cameraKey.Key','@cameraKey.IsRegistered')">
                        <i class="material-icons">delete</i>
                    </a>
                </span>
            </div>
        }
    </div>
}
